{% extends "page.html" %}

{% block main %}

<div class="row">
    <div class="col-sm-12">
        <div class="d-flex flex-column justify-content-center align-items-center coming-soon">
            <svg class="svg-coming-soon" xmlns="http://www.w3.org/2000/svg" id="Layer_5" enable-background="new 0 0 64 64" viewBox="0 0 64 64"><path d="m32 27c2.757 0 5-2.243 5-5s-2.243-5-5-5-5 2.243-5 5 2.243 5 5 5zm0-8c1.654 0 3 1.346 3 3s-1.346 3-3 3-3-1.346-3-3 1.346-3 3-3z"></path><path d="m62.909 60.066-1.956-41.066h-1.953v-6c0-2.206-1.794-4-4-4s-4 1.794-4 4v6h-1.953l-1.621 34.035c-.142-.012-.283-.035-.426-.035-2.346 0-4.32 1.624-4.856 3.808-.676-.322-1.144-1.011-1.144-1.808v-1h2v-6h2v-9.687c0-2.403-.936-4.664-2.636-6.364l-1.364-1.363v-16.077c0-3.15-1.143-6.19-3.216-8.561l-3.373-3.854c-.608-.695-1.487-1.094-2.411-1.094s-1.803.399-2.411 1.094l-3.373 3.854c-2.073 2.371-3.216 5.411-3.216 8.561v16.077l-1.364 1.364c-1.7 1.7-2.636 3.96-2.636 6.364v9.686h2v6h2v1c0 .797-.468 1.486-1.144 1.808-.536-2.184-2.51-3.808-4.856-3.808-.143 0-.284.023-.425.035l-1.622-34.035h-1.953v-6c0-2.206-1.794-4-4-4s-4 1.794-4 4v6h-1.953l-1.956 41.066c-.058.303-.091.615-.091.934v2h62v-2c0-.319-.033-.631-.091-.934zm-2.889-18.632.358 7.53-3.964-3.964 3.586-3.586zm-1.434-1.434-3.586 3.586-3.586-3.586 3.586-3.586zm-7.172-10 3.586-3.586 3.586 3.586-3.586 3.586zm8.464 8.464-3.464-3.464 3.149-3.149zm-.769-16.159.269 5.659-2.964-2.964zm-6.109-9.305c0-1.103.897-2 2-2s2 .897 2 2v2h-4zm0 4h4v2h-4zm4.586 4-2.586 2.586-2.586-2.586zm-6.695 1.305 2.695 2.695-2.964 2.964zm-.454 9.546 3.149 3.149-3.464 3.464zm-.457 9.583.02-.02 3.586 3.586-3.964 3.964zm-.5 10.5 5.52-5.52 5.519 5.519.234 4.913c-.549-.365-1.165-.638-1.837-.763-.432-2.32-2.472-4.083-4.916-4.083-1.596 0-3.067.771-3.994 2.016-.192-.145-.396-.271-.606-.387zm-8.48.066h-2v-4h2zm2-13.687v7.687h-6v-7.687c0-.105.011-.209.015-.313h5.969c.005.105.016.208.016.313zm-3-5.899.95.949c.755.756 1.309 1.657 1.651 2.637h-5.203c.343-.979.896-1.88 1.651-2.636zm-12.278-25.148 3.373-3.855c.457-.521 1.354-.522 1.811 0l3.373 3.854c.961 1.1 1.677 2.373 2.136 3.735h-12.83c.459-1.362 1.175-2.635 2.137-3.734zm-2.722 7.243c0-.508.046-1.011.115-1.509h13.77c.069.498.115 1.001.115 1.509v16.077l-1.364 1.364c-.669.668-1.214 1.426-1.636 2.242-.422-.816-.967-1.574-1.636-2.242l-2.364-2.364-2.364 2.364c-.669.668-1.214 1.426-1.636 2.242-.422-.816-.967-1.574-1.636-2.242l-1.364-1.364zm4 31.491v-7.687c0-.105.011-.209.015-.313h5.969c.005.105.016.208.016.313v7.687zm4 2v4h-2v-4zm-3.602-12c.343-.979.896-1.88 1.651-2.636l.95-.95.95.949c.755.756 1.309 1.657 1.651 2.637zm-6.348-2.636.95-.95.95.949c.755.756 1.309 1.657 1.651 2.637h-5.203c.343-.979.897-1.88 1.652-2.636zm-2.05 12.636v-7.687c0-.105.011-.209.015-.313h5.969c.005.105.016.208.016.313v7.687zm4 2v4h-2v-4zm-10.98-6.566.359 7.53-3.965-3.964 3.586-3.586zm-1.434-1.434-3.586 3.586-3.586-3.586 3.586-3.586zm-7.172-10 3.586-3.586 3.586 3.586-3.586 3.586zm8.464 8.464-3.464-3.464 3.149-3.149zm-.769-16.159.269 5.659-2.964-2.964zm-6.109-9.305c0-1.103.897-2 2-2s2 .897 2 2v2h-4zm0 4h4v2h-4zm4.586 4-2.586 2.586-2.586-2.586zm-6.695 1.305 2.695 2.695-2.964 2.964zm-.454 9.546 3.149 3.149-3.464 3.464zm-.457 9.583.02-.02 3.586 3.586-3.964 3.964zm-.499 10.5 5.519-5.52 5.52 5.52.081 1.695c-.21.116-.414.242-.606.387-.928-1.245-2.399-2.016-3.995-2.016-2.444 0-4.484 1.763-4.916 4.084-.672.125-1.288.397-1.837.763zm-.432 9.066.032-.667c.304-1.333 1.495-2.333 2.919-2.333h1v-1c0-1.654 1.346-3 3-3 1.259 0 2.39.807 2.813 2.007l.638 1.804 1.117-1.553c.576-.8 1.462-1.258 2.432-1.258 1.654 0 3 1.346 3 3v1h1c2.206 0 4-1.794 4-4v-1h2v-6h2v6h6v-6h2v6h2v1c0 2.206 1.794 4 4 4h1v-1c0-1.654 1.346-3 3-3 .97 0 1.856.458 2.432 1.258l1.117 1.553.638-1.804c.423-1.2 1.554-2.007 2.813-2.007 1.654 0 3 1.346 3 3v1h1c1.424 0 2.614 1 2.919 2.333l.032.667z"></path></svg>
            <div class="text-coming-soon">Coming soon</div>
        </div><!--end flex-->
    </div><!--end col-->
</div><!--end row-->

{% endblock main %}
