{% extends "page.html" %}

{% block main %}

<div class="row d-flex justify-content-center">
    <div class="col-sm-7 mt-3">
        <a href="/home"><i class="mdi mdi-arrow-left"></i> dashboard</a>
        <h2 class="mt-2">Create a new server</h2>
        <div class="card mt-3">
            <div class="card-body">
                <h4 class="mt-0 header-title">SERVER INFORMATION</h4>
                <form class="form-horizontal auth-form my-4" action="{{post_url}}" method="post" role="form">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="serverName">Name</label>
                                <input type="text" class="form-control project-name" id="serverName" name="serverName"
                                       placeholder="Server's name" value="" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div><!--end form-group-->
                        </div><!--end col-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="serverSlug">Slug</label>
                                <input type="text" class="form-control project-slug" id="serverSlug" name="serverSlug"
                                       placeholder="Server's slug" value="" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div><!--end form-group-->
                        </div><!--end col-->
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="serverDescription">Description</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="serverDescription"
                                           name="serverDescription" placeholder="Description"
                                           aria-describedby="inputGroupPrepend" required>
                                    <div class="invalid-feedback">
                                        Please enter description.
                                    </div>
                                </div><!--end input-group-->
                            </div><!--end form-group-->
                        </div><!--end col-->
                    </div><!--end form-row-->
                    <div class="form-group">
                        <label>Privacy</label>
                        <div>
                            <div class="form-check-inline my-1">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="serverPrivacy_private" name="serverPrivacy" value="Private"
                                           class="custom-control-input" checked="checked" required>
                                    <label class="custom-control-label" for="serverPrivacy_private">Private</label>
                                </div>
                            </div>
                            <div class="form-check-inline my-1">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="serverPrivacy_public" name="serverPrivacy" value="Public"
                                           class="custom-control-input" disabled>
                                    <label class="custom-control-label" for="serverPrivacy_public">Public</label>
                                </div>
                            </div>
                            <div class="form-check-inline my-1">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="serverPrivacy_unlisted" name="serverPrivacy"
                                           value="Unlisted" class="custom-control-input" disabled>
                                    <label class="custom-control-label" for="serverPrivacy_unlisted">Unlisted</label>
                                </div>
                            </div>
                        </div>
                    </div><!--end form-row-->
                    <!--                    <hr/>-->
                    <button class="btn btn-xs btn-primary" type="submit">Create server</button>
                </form> <!--end form-->
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->
</div><!--end row-->

{% endblock main %}


{% block script %}
{{ super() }}
<script type="text/javascript">
  require(["create"]);

</script>
{% endblock script %}

