{% extends "page.html" %}
{% if announcement_home %}
{% set announcement = announcement_home %}
{% endif %}

{% block main %}

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/home">AI Playground</a></li>
                    <li class="breadcrumb-item active"><a href="/home">Home</a></li>
                </ol>
            </div>
            <h4 class="page-title">Home</h4>
        </div>
        <!--end page-title-box-->
    </div>
    <!--end col-->
</div>
<!-- end page title end breadcrumb -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body met-pro-bg">
                <div class="met-profile">
                    <div class="row">
                        <div class="col-lg-4 align-self-center">
                            <div class="met-profile-main">
                                <div class="met-profile-main-pic">
                                    <img src="{{static_url("assets/images/users/user-10.jpg") }}" alt=""
                                    class="rounded-circle">
                                    <!--                                    <span class="fro-profile_main-pic-change">-->
                                    <!--                                        <i class="fas fa-camera"></i>-->
                                    <!--                                    </span>-->
                                </div>
                                <div class="met-profile_user-detail">
                                    <h5 class="met-user-name">{{user.name}}</h5>
                                    <p class="mb-0 met-user-name-post">Researcher</p>
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-lg-4 ml-auto personal-detail-wrapper">
                            <ul class="list-unstyled personal-detail">
                                <li class=""><i class="mdi mdi-clock-outline mr-2 text-info font-18"></i> <b>
                                    Created </b> : {{ convertDateTimeToKoreaSeoul(user.created) }}
                                </li>
                                <li class="mt-2"><i class="mdi mdi-clock-outline text-info font-18 mt-2 mr-2"></i> <b>
                                    Last login </b> :
                                    {% if user.last_activity is not none %}
                                    {{ convertDateTimeToKoreaSeoul(user.last_activity) }}
                                    {% else %}
                                    None
                                    {%endif %}
                                </li>
                                <!--                                <li class="mt-2"><i class="dripicons-location text-info font-18 mt-2 mr-2"></i> <b>Location</b> : USA</li>-->
                            </ul>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
                <!--end f_profile-->
            </div>
            <!--end card-body-->
            <div class="card-body ">
                <div>
                    <ul class="nav nav-pills mb-0" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="general_detail_tab" data-toggle="pill"
                               href="#general_detail">Server</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="settings_detail_tab" data-toggle="pill"
                               href="#settings_profile">Profile</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--end card-->
    </div>
    <!--end col-->
</div>
<!--end row-->

<div class="row">
    <div class="col-12">
        <div class="tab-content detfail-list" id="pills-tabContent">
            <div class="tab-pane fade show active" id="general_detail">
                <div class="row server-list">
                    <div class="col-md-6 col-lg-4">
                        <div class="card card-border">
                            <div class="card-body">
                                <div class="task-box">
                                    {% if default_server.active %}
                                    <div class="task-priority-icon"><i id="default-server-circle" class="fas fa-circle text-success"></i></div>
                                    {% else %}
                                    <div class="task-priority-icon"><i id="default-server-circle" class="fas fa-circle text-danger"></i></div>
                                    {% endif %}
                                    <div class=" d-flex justify-content-between">
                                        <h5 data-toggle="tooltip"
                                            data-placement="top"
                                            title="/user/{{user.name}}"
                                            data-original-title="/user/{{user.name}}">
                                            Default Server
                                        </h5>
                                        {% if default_server.active %}
                                        <div class="dropdown d-inline-block">
                                            <a id="dropdown-default-server"
                                               class="nav-link dropdown-toggle arrow-none"
                                               data-toggle="dropdown" href="#" role="button" aria-haspopup="false"
                                               aria-expanded="false">
                                                <i class="fas fa-ellipsis-v font-20 text-muted"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel5">
                                                <button id="stop"
                                                        class="dropdown-item{% if not default_server.active %} d-none{% endif %}">
                                                    Stop
                                                </button>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <p class="text-muted mb-1">Default user's server</p>
                                    <ul class="list-unstyled mb-4">
                                        <li class="mb-2 font-13 text-muted"><i
                                                class="mdi mdi-memory text-info mr-2"></i>CPU: 1 Core
                                        </li>
                                        <li class="mb-2 font-13 text-muted"><i
                                                class="mdi mdi-view-week text-info mr-2"></i>Memory: 1 GB
                                        </li>
                                        <li class="mb-2 font-13 text-muted"><i
                                                class="mdi mdi-content-save text-info mr-2"></i>Disk: 1 GB
                                        </li>
                                    </ul>
                                    <div>
                                        <a id="start" role="button"
                                           class="btn btn-primary waves-effect waves-light btn-sm btn-block{% if default_server.active %} d-none{% endif %}"
                                           href="{{ url_spawn }}">
                                            Start
                                        </a>
                                        <a id="access-server" role="button"
                                           class="btn btn-secondary waves-effect waves-light btn-sm btn-block{% if not default_server.active %} d-none{% endif %}"
                                           href="{{ url_active }}" target="_blank">
                                            Access Server
                                        </a>
                                         <button id="default-server-stopping"
                                                class="btn btn-info waves-effect waves-light btn-sm btn-block d-none"
                                                type="button" disabled>
                                            <span class="spinner-border spinner-border-sm"
                                                  role="status"
                                                  aria-hidden="true"></span>
                                            Stopping...
                                        </button>
                                    </div>
                                </div><!--end task-box-->
                            </div><!--end card-body-->
                        </div><!--end card-->
                    </div><!--end col-->

                    {% if allow_named_servers %}

                    {% set named_spawners = user.all_spawners(include_default=False)|list %}

                    {% for spawner in named_spawners %}
                    {% set server_information = get_server_information_by_slug(db, spawner.name) %}
                    <div class="col-md-6 col-lg-4" id="col-{{ spawner.name }}">
                        <div class="card card-border">
                            <div class="card-body">
                                <div class="task-box">
                                    {% if spawner.active %}
                                    <div class="task-priority-icon"><i id="server-circle-{{ spawner.name }}" class="fas fa-circle text-success"></i></div>
                                    {% else %}
                                    <div class="task-priority-icon"><i id="server-circle-{{ spawner.name }}" class="fas fa-circle text-danger"></i></div>
                                    {% endif %}
                                    <div class=" d-flex justify-content-between">
                                        <h5 data-toggle="tooltip"
                                            data-placement="top"
                                            title="{{user.server_url(spawner.name)}}"
                                            data-original-title="{{user.server_url(spawner.name)}}">
                                            {{ server_information.name }}
                                        </h5>
                                        <div class="dropdown d-inline-block">
                                            <a class="nav-link dropdown-toggle arrow-none" id="dLabel5"
                                               data-toggle="dropdown" href="#" role="button" aria-haspopup="false"
                                               aria-expanded="false">
                                                <i class="fas fa-ellipsis-v font-20 text-muted"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel5">
                                                <button id="stop-{{ spawner.name }}"
                                                        class="stop-server-custom dropdown-item{% if not spawner.active %} d-none{% endif %}">
                                                    Stop
                                                </button>
                                                <button id="delete-{{ spawner.name }}"
                                                        class="delete-server-custom dropdown-item{% if spawner.active %} d-none{% endif %}">
                                                    Delete
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-muted mb-1">{{ server_information.description }}</p>
                                    <ul class="list-unstyled mb-4">
                                        <li class="mb-2 font-13 text-muted"><i
                                                class="mdi mdi-memory text-info mr-2"></i>CPU: 1 Core
                                        </li>
                                        <li class="mb-2 font-13 text-muted"><i
                                                class="mdi mdi-view-week text-info mr-2"></i>Memory: 1 GB
                                        </li>
                                        <li class="mb-2 font-13 text-muted"><i
                                                class="mdi mdi-content-save text-info mr-2"></i>Disk: 1 GB
                                        </li>
                                    </ul>
                                    <div>
                                        <a id="start-{{ spawner.name }}"
                                           role="button"
                                           class="start-server-custom btn btn-primary waves-effect waves-light btn-sm btn-block{% if spawner.active %} d-none{% endif %}"
                                           href="{{ base_url }}spawn/{{ user.name }}/{{ spawner.name }}"
                                        >
                                            Start
                                        </a>
                                        <a id="access-{{ spawner.name }}"
                                           role="button"
                                           class="btn btn-secondary waves-effect waves-light btn-sm btn-block{% if not spawner.active %} d-none{% endif %}"
                                           href="{{ base_url }}user/{{ user.name }}/{{ spawner.name }}/lab?"
                                           target="_blank">
                                            Access Server
                                        </a>
                                        <button id="stopping-{{ spawner.name }}"
                                                class="btn btn-info waves-effect waves-light btn-sm btn-block d-none"
                                                type="button" disabled>
                                            <span class="spinner-border spinner-border-sm"
                                                  role="status"
                                                  aria-hidden="true"></span>
                                            Stopping...
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!--end card -body-->
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-->
                    {% endfor %}

                    {% if named_spawners|length < 5 %}
                    <div class="col-md-6 col-lg-4">
                        <div class="card card-border">
                            <!--      <img class="card-img-top img-fluid" src="{{static_url("assets/images/small/ex-card.jpg") }}" alt="Card image cap">-->
                            <a href="/create">
                                <div class="card-body create-sever">
                                    <div class="col-sm-6 col-md-4 col-xl-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                            <path class="svg-plus"
                                                  d="M256 48C141.125 48 48 141.125 48 256s93.125 208 208 208 208-93.125 208-208S370.875 48 256 48zm107 229h-86v86h-42v-86h-86v-42h86v-86h42v86h86v42z"/>
                                        </svg>
                                    </div>
                                    Create a new server
                                </div>
                                <!--end card -body-->
                            </a>
                        </div><!--end card-->
                    </div><!--end col-->
                    {% endif %}

                    {% endif %}

                </div>
            </div>
            <!--end general detail-->

            <div class="tab-pane fade" id="settings_profile">
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="mt-0 header-title">Profile</h4>
                                <p class="text-muted mb-3">Edit my profile information
                                </p>
                                <form action="{{post_url}}" method="post" role="form">
                                    <div class="form-group">
                                        <label for="setFullName">Name</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i
                                                        class="mdi mdi-account-outline"></i></span>
                                            </div>
                                            <input type="text" id="setFullName" class="form-control" placeholder="Name"
                                                   name="user_real_name" value={{userInformation.user_real_name}}>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="setEmail">Email</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i
                                                        class="mdi mdi-email-outline"></i></span>
                                            </div>
                                            <input type="email" id="setEmail" class="form-control" placeholder="Email"
                                                   name="email" value={{userInformation.email}}>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="setPhoneNumber">Phone number</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="mdi mdi-cellphone"></i></span>
                                            </div>
                                            <input type="tel" id="setPhoneNumber" class="form-control"
                                                   placeholder="Phone number" name="phone"
                                                   value={{userInformation.phone}}>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="setOrganization">Organization</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i
                                                        class="mdi mdi-city-variant-outline"></i></span>
                                            </div>
                                            <input type="text" id="setOrganization" class="form-control"
                                                   placeholder="Organization" name="organization"
                                                   value={{userInformation.organization}}>
                                        </div>
                                    </div>
                                    <div class="float-left">
                                        <button type="submit"
                                                class="btn btn-outline-primary waves-effect waves-light btn-sm">Save
                                            Changes
                                        </button>
                                        <a role="button" class="btn btn-outline-danger waves-effect waves-light btn-sm"
                                           href="/home">
                                            Cancel
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end settings detail-->


        </div>
        <!--end tab-content-->
    </div>
    <!--end col-->
</div>
<!--end row-->


{% endblock %}

{% block script %}
{{ super() }}
<script type="text/javascript">
    require(["home"]);































</script>
{% endblock %}
