{% macro modal(title, btn_label=None, btn_class="btn-primary") %}
{% set key = title.replace(' ', '-').lower() %}
{% set btn_label = btn_label or title %}
<div class="modal fade" id="{{key}}-dialog" tabindex="-1" role="dialog" aria-labelledby="{{key}}-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="{{key}}-label">{{title}}</h4>
            </div>
            <div class="modal-body">
                {{ caller() }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn {{btn_class}}" data-dismiss="modal" data-dismiss="modal">{{btn_label}}</button>
            </div>
        </div>
    </div>
</div>
{% endmacro %}


<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">

    <title>{% block title %}AI Playground{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block stylesheet %}
    <!--    <link rel="stylesheet" href="{{ static_url("css/style.min.css") }}" type="text/css"/>-->
    {% endblock %}
    <script src="{{static_url("components/requirejs/require.js") }}" type="text/javascript" charset="utf-8"></script>
  <script>
  require.config({
  {% if version_hash %}
  urlArgs: "v={{version_hash}}",
  {% endif %}
  baseUrl: '{{static_url("js", include_version=False)}}',
    paths: {
    components: '../components',
      jquery: '../components/jquery/dist/jquery.min',
      bootstrap: '../components/bootstrap/dist/js/bootstrap.min',
      moment: "../components/moment/moment",
      sweetalert2: "../assets/plugins/sweet-alert2/sweetalert2.min",
  },
  shim: {
    bootstrap: {
      deps: ["jquery"],
        exports: "bootstrap"
    },
  }
  });
    </script>

    <script type="text/javascript">
      window.jhdata = {
        base_url: "{{base_url}}",
        prefix: "{{prefix}}",
      {% if user %}
      user: "{{user.json_escaped_name}}",
      {% endif %}
      {% if admin_access %}
      admin_access: true,
      {% else %}
      admin_access: false,
      {% endif %}
      {% if not no_spawner_check and user and user.spawner.options_form %}
      options_form: true,
      {% else %}
      options_form: false,
      {% endif %}
      }
    </script>

    {% block meta %}
    {% endblock %}

    <!-- App favicon -->
    <link rel="shortcut icon" href="{{static_url("assets/images/favicon.ico") }}"/>

    <!-- Sweet Alert -->
    <link rel="stylesheet" href="{{static_url("assets/plugins/sweet-alert2/sweetalert2.min.css") }}" type="text/css"/>
    <link rel="stylesheet" href="{{static_url("assets/plugins/animate/animate.css") }}" type="text/css"/>

    <!-- App css -->
    <link rel="stylesheet" href="{{static_url("assets/css/bootstrap.min.css") }}" type="text/css"/>
    <link rel="stylesheet" href="{{static_url("assets/css/icons.css") }}" type="text/css"/>
    <link rel="stylesheet" href="{{static_url("assets/css/metisMenu.min.css") }}" type="text/css"/>
    <link rel="stylesheet" href="{{static_url("assets/css/style.css") }}" type="text/css"/>

</head>


<body>
<noscript>
    <div id='noscript'>
        JupyterHub requires JavaScript.<br>
        Please enable it to proceed.
    </div>
</noscript>

<!-- Top Bar Start -->
<div class="topbar">
    <!-- LOGO -->
    <div class="topbar-left">
        <a href="/home" class="logo">
        <span>
            <img src="{{static_url("assets/images/logo-sm.png") }}" alt="logo-small" class="logo-sm">
        </span>
            <span>
            <img src="{{static_url("assets/images/logo-dark.png") }}" alt="logo-large" class="logo-lg">
        </span>
        </a>
    </div>
    <!--end logo-->
    <!-- Navbar -->
    <nav class="navbar-custom">
        <ul class="list-unstyled topbar-nav mb-0">
            <li>
                <button class="button-menu-mobile nav-link waves-effect waves-light">
                    <i class="dripicons-menu nav-icon"></i>
                </button>
            </li>
        </ul>
        <ul class="list-unstyled topbar-nav float-right mb-0">
            <li class="dropdown">
                <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                   aria-haspopup="false" aria-expanded="false">
                    <img src="{{static_url("assets/images/users/user.png") }}" alt="profile-user" class="rounded-circle" />
                    <span class="ml-1 nav-user-name hidden-sm">{{ user.name }} <i class="mdi mdi-chevron-down"></i> </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{{logout_url}}"><i class="dripicons-exit text-muted mr-2"></i> Logout</a>
                </div>
            </li>
        </ul><!--end topbar-nav-->
    </nav>
    <!-- end navbar-->
</div>
<!-- Top Bar End -->

<div class="page-wrapper">
    <!-- Left Sidenav -->
    <div class="left-sidenav">
        <div class="main-icon-menu">
            <nav class="nav">
                <a href="/home" class="nav-link" data-toggle="tooltip-custom" data-placement="top" title="Home" data-original-title="Home">
                    <svg class="nav-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<!--              <path class="svg-primary" d="M208 448V320h96v128h97.6V256H464L256 64 48 256h62.4v192z"/>-->
              <path d="M208 448V320h96v128h97.6V256H464L256 64 48 256h62.4v192z"/>
          </svg>
                </a><!--end Home-->

                {% if user.admin %}

                <a href="/authorize" class="nav-link" data-toggle="tooltip-custom" data-placement="top" title="Users" data-original-title="Users">
                    <svg class="nav-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M256 256c52.805 0 96-43.201 96-96s-43.195-96-96-96-96 43.201-96 96 43.195 96 96 96zm0 48c-63.598 0-192 32.402-192 96v48h384v-48c0-63.598-128.402-96-192-96z"/>
                    </svg>
                </a><!--end Users-->

                <a href="/admin" class="nav-link" data-toggle="tooltip-custom" data-placement="top" title="Resources" data-original-title="Resources">

                    <svg class="nav-svg" version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
              <path d="M135.7 151c-2.5 3-4.9 6-7.2 9.2 32.2 36.3 76.1 76.5 124.2 113.7 37.8 29.2 76.3 55.2 111.4 75.1 5.9 3.3 11.7 6.5 17.3 9.4 2.5-3 4.9-6 7.2-9.2 11.7-16.1 18.1-33.2 23.3-53.6.8-3.2 1.5-6.4 2.1-9.5 15.8-83-35.6-164.9-118.5-185.9-37-9.4-74.1-5.1-106.3 9.7-21.4 9.9-38.2 22.9-53.5 41.1z"/><path d="M418.2 326.8c-4.1 11-7.4 17.5-7.4 17.5 18.2 21.1 24.6 33.9 31.9 46.4 2.4 4.1 7.4 13.1.9 12.4-1.7-.3-3.5-.7-5.5-1.3-21.3-5.4-51.2-18.7-84.3-37.4-35.8-20.3-74.9-46.7-113.3-76.3-51.1-39.5-97.5-82.3-130.6-120.5-15.3-17.6-27.6-34.2-35.7-47.9-2.4-4.1-3.9-6.3-5.6-10.4-2.5-6.2 5-5.1 7-4.6 14.9 3.8 35 9.9 58.2 23.8 0 0 4.3-4.8 13.9-11.4-22.8-15.4-44.6-27.7-65.2-35.5-23.1-8.8-41.1-6.8-47.5 3.7-12.2 19.9 14 72.3 65.3 132-21.5 86 30.6 173.3 116.5 195 41.1 10.4 82.4 3.9 116.8-15 38.1 17.6 72.1 28.6 96.9 34.9 23.9 6.1 40.4 5.5 46.8-4.9 11.1-18.2-12.1-51.8-59.1-100.5z"/>
          </svg>
                </a> <!--end Resources-->

                {% endif %}

                <a href="/token" class="nav-link" data-toggle="tooltip-custom" data-placement="top" title="Token" data-original-title="Token">
                    <svg class="nav-svg" version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                        <path d="M249.2 224c-14.2-40.2-55.1-72-100.2-72-57.2 0-101 46.8-101 104s45.8 104 103 104c45.1 0 84.1-31.8 98.2-72H352v64h69.1v-64H464v-64H249.2zm-97.6 66.5c-19 0-34.5-15.5-34.5-34.5s15.5-34.5 34.5-34.5 34.5 15.5 34.5 34.5-15.5 34.5-34.5 34.5z"/>
                    </svg>
                </a><!--end Token-->

                <a href="/team" class="nav-link" data-toggle="tooltip-custom" data-placement="top" title="Teams" data-original-title="Teams">
                    <svg class="nav-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M337.454 232c33.599 0 61.092-27.002 61.092-60 0-32.997-27.493-60-61.092-60s-61.09 27.003-61.09 60c0 32.998 27.491 60 61.09 60zm-162.908 0c33.599 0 61.09-27.002 61.09-60 0-32.997-27.491-60-61.09-60s-61.092 27.003-61.092 60c0 32.998 27.493 60 61.092 60zm0 44C126.688 276 32 298.998 32 346v54h288v-54c0-47.002-97.599-70-145.454-70zm162.908 11.003c-6.105 0-10.325 0-17.454.997 23.426 17.002 32 28 32 58v54h128v-54c0-47.002-94.688-58.997-142.546-58.997z"/>
                    </svg>
                </a><!--end Token-->

                <a href="/dataset" class="nav-link" data-toggle="tooltip-custom" data-placement="top" title="Datasets" data-original-title="Datasets">
                    <svg class="nav-svg" xmlns="http://www.w3.org/2000/svg" class="jss70 jss112 LeftDrawer__DenseListItemIcon-sc-1ciaqif-1 jJiOEF" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path fill="none" d="M0 0h24v24H0z"></path><path d="M11.99 18.54l-7.37-5.73L3 14.07l9 7 9-7-1.63-1.27-7.38 5.74zM12 16l7.36-5.73L21 9l-9-7-9 7 1.63 1.27L12 16z"></path></svg>
                </a><!--end Token-->

                <a href="https://github.com/mondrianai/AI-Playground-help/issues" class="nav-link" data-toggle="tooltip-custom" data-placement="top" title="Request features" data-original-title="Request features" target="_blank">
                    <svg class="nav-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><g><g><path d="M90,287c-24.814,0-45,20.186-45,45c0,24.814,20.186,45,45,45c24.814,0,45-20.186,45-45C135,307.186,114.814,287,90,287z"></path></g></g><g><g><path d="M120,377H90H60c-33.091,0-60,26.909-60,60v60c0,8.291,6.709,15,15,15h150c8.291,0,15-6.709,15-15v-60    C180,403.909,153.091,377,120,377z"></path></g></g><g><g><path d="M422,287c-24.814,0-45,20.186-45,45c0,24.814,20.186,45,45,45c24.814,0,45-20.186,45-45C467,307.186,446.814,287,422,287z    "></path></g></g><g><g><path d="M452,377h-30h-30c-33.091,0-60,26.909-60,60v60c0,8.291,6.709,15,15,15h150c8.291,0,15-6.709,15-15v-60    C512,403.909,485.091,377,452,377z"></path></g></g><g><g><path d="M256,0H136C94.579,0,61,33.579,61,75v90c0,36.226,25.811,66.519,60,73.491v46.507c0,13.363,16.157,20.056,25.607,10.606    L202.211,240H256c41.421,0,75-33.579,75-75V75C331,33.579,297.421,0,256,0z M251.605,85.605l-60,60    c-5.857,5.857-15.354,5.857-21.211,0l-30-30c-5.859-5.859-5.859-15.352,0-21.211c5.859-5.859,15.352-5.859,21.211,0L181,113.789    l49.395-49.395c5.859-5.859,15.352-5.859,21.211,0S257.465,79.746,251.605,85.605z"></path></g></g><g><g><path d="M376,30h-25.532C357.023,43.693,361,58.835,361,75v90c0,34.354-16.824,64.631-42.411,83.8l46.804,46.804    c9.45,9.45,25.607,2.757,25.607-10.606v-46.507c34.189-6.973,60-37.266,60-73.491v-60C451,63.579,417.421,30,376,30z"></path></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                </a><!--end Token-->


            </nav><!--end nav-->
        </div><!--end main-icon-menu-->
    </div>
    <!-- end left-sidenav-->

    <!-- Page Content-->
    <div class="page-content">
        <div class="container-fluid">
            {% block main %}
            {% endblock %}
        </div><!-- container -->

        <footer class="footer text-center text-sm-left">
            &copy; 2019 Mondrian AI All Rights Reserved
            <!--        <span class="text-muted d-none d-sm-inline-block float-right">Crafted with <i class="mdi mdi-heart text-danger"></i> by Mannatthemes</span>-->
        </footer><!--end footer-->
    </div>
    <!-- end page content -->
</div>
<!-- end page-wrapper -->


{% block announcement %}
{% if announcement %}
<div class="container text-center announcement">
    {{ announcement | safe }}
</div>
{% endif %}
{% endblock %}


{% call modal('Error', btn_label='OK') %}
<div class="ajax-error">
    The error
</div>
{% endcall %}

{% block script %}
<script type="text/javascript">
  require(["{{static_url("assets/js/jquery.min.js") }}"]);
  require(["{{static_url("assets/js/bootstrap.bundle.min.js") }}"]);
  require(["{{static_url("assets/js/metisMenu.min.js") }}"]);
  require(["{{static_url("assets/js/waves.min.js") }}"]);
  require(["{{static_url("assets/js/jquery.slimscroll.min.js") }}"]);
  require(["{{static_url("assets/js/app.js") }}"]);
  // Alert
  require(["{{static_url("assets/plugins/sweet-alert2/sweetalert2.min.js") }}"]);
  require(["{{static_url("assets/pages/jquery.sweet-alert.init.js") }}"]);
</script>
{% endblock %}

</body>

</html>
