{% extends "page.html" %}
{% if announcement_spawn %}
{% set announcement = announcement_spawn %}
{% endif %}

{% block main %}

<div class="row">
    <div class="col-lg-10 mx-auto">
        <div class="card mt-5">
            <div class="card-body">
                {% block heading %}
                {% endblock %}
                <div class="mx-auto mt-3">
                    <h3 class="page-title mb-4">Server Options</h3>
                    {% if for_user and user.name != for_user.name -%}
                    <p>Spawning server for {{ for_user.name }}</p>
                    {% endif -%}
                    {% if error_message -%}
                    <p class="spawn-error-msg text-danger">
                        Error: {{error_message}}
                    </p>
                    {% endif %}
                    <form enctype="multipart/form-data" id="spawn_form" action="{{url}}" method="post" role="form">
                        {{spawner_options_form | safe}}
                        <br>
                        <input type="submit" value="Start" class="btn btn-primary waves-effect waves-light btn-sm btn-block">
                    </form>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div>
</div>

{% endblock %}
