{% extends "page.html" %}

{% block main %}

<div class="row mt-5">
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center">
                        {% block message %}
                      <div class="spinner-border text-primary" role="status"></div>
                        <h3 class="pro-title">Your server is stopping.</h3>
                        <p class="text-muted">You will be able to start it again once it has finished stopping.</p>
                        {% endblock %}
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end card-body-->
    </div><!--end card-->
</div><!--end col-->
</div><!--end row-->


{% endblock %}

{% block script %}
{{ super() }}
<script type="text/javascript">
require(["jquery"], function ($) {
  $("#refresh").click(function () {
    window.location.reload();
  });
  setTimeout(function () {
    window.location.reload();
  }, 5000);
});


</script>
{% endblock %}
